@charset "UTF-8";
*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: black;
}
header{
    background-color: grey;
    text-align: center;
}
header p{
    padding: 10px;
}
header p:hover{
    background-color: rgb(182, 182, 182);
    cursor: pointer;
}
div.smenu{
    display: none;
    background-color: brown;
}
div.smenu2{
    display: none;
    background-color: aqua;
}