@charset "UTF-8";

/* Typical Device Breakpoints
---------------------------
pequenas telas : até 600px;
cel : até 768px
tablet : até 992px
pc até 1200px
grandes telas acima de 1200px */

@media screen and (min-width: 900px) {
    body{
        display: flex;
    }
    div#banner{
        background-color: black;
        width:calc(100% - 30px);
    }
    header{
        width: 30px;
        display: flex;
    }
    nav{
        flex-direction: column;
    }
    
}