@charset "UTF-8";

:root {
    --cor0: white;
    --cor1: #f7f3e4ee;
    --cor2: #BDB180;
    --cor3: #B09119;
    --cor4: #000000;
    --cor5: rgba(158, 158, 158, 0.425);
    --cor6: rgb(201, 201, 201);
}

* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/*----------------------------header------------------------------------*/
header{
    width: 100vw;
    background-color: rgba(128, 128, 128, 0.600);
}
div#img{
    padding: 7px 0px;
    width: 100%;
    display: block;
    margin: auto;
}header div#img:hover{
    background-color: rgba(143, 143, 143, 0.600);
    cursor: pointer;
}
div#img img{
    margin: auto;
    display: block;
}
div.menu{
    display: none;
}
div.menu p{
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.651);
    text-align: center;
    margin: 0%;
    color: white;
    padding: 5px;
}

div.menu p:hover{
    color: rgb(255, 213, 99);
    font-size: 1.2em;
    background-color: rgba(143, 143, 143, 0.600);
    cursor: pointer;
}
div.smenut, div.smenus, div.smenuc, div.smenuj, div.smenubm, div.smenupm{
    display: none;
    font-size: 0.8em;
    background-color: rgba(143, 143, 143, 0.600);
    
}
/*------------------------------FIM DO HEADER------------------------------*/

/* ----------footer-----------*/

footer{
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #000000;
    min-height: 50px;
    max-height: 150px;
    width: 100vw;
}
footer  img {
    display: inline-block;
    margin: 0px 15px;
    width: 50px;
    height: 50px;
}
footer img:hover {
    width: 53px;
    height: 53px;
    transition-duration: 0.3s;
}
/* ----------FIM footer-----------*/
